@import "flexBox.css";
@import "spacing.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.c-white {
  color: white !important;
}

.c-primary {
  color: #fbae00
}

.c-title {
  color: #5a5a5a;
}

.c-gray-1 {
  color: #c2c2c2 !important;
}

.c-dark-1 {
  color: #2b2b2b !important;
}

.c-gray-2 {
  color: #9b9b9b !important;
}

.bg-app-white {
  background-color: white;
}

.border-app {
  border-color: #fbae00 !important;
}

.bg-app-primary {
  background-color: #fbae00
}

.bg-app-gray-1 {
  background-color: #c2c2c2 !important;
}

.bg-app-gray-2 {
  background-color: #9b9b9b !important;
}

.default-text {
  font-size: 20px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#leftHalf {
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
}

#rightHalf {
  margin-top: -48px;
  background: url('./../public/img/solar_panel.jpeg');
  background-position: center;
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
}


#AboutPage .jumbotron {
  background-image: url('./../public/img/aboutus.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

#AboutPage .jumbotron::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
}

.contact-mobile {
  display: none;
}

.contact-overlay {
  background-color: rgba(41, 41, 41, 0.792);
}

@media only screen and (max-width: 600px) {
  .text-sm-center {
    text-align: center;
  }

  .contact-desktop {
    display: none !important;
  }

  .contact-mobile {
    background: url('./../public/img/solar_panel.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .xs-reverse-row {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
  }

  .xs-reverse-row div p {
    text-align: left;
  }

  .xs-reverse-row div h2 {
    text-align: left;
  }
}

@media only screen and (max-width: 800px) {
  #AboutPage {
    margin-top: -48px;
  }
  #rightHalf {
    z-index: -1;
    width: 100%;
    opacity: 0.5;
  }
  #leftHalf {
    margin-top: -48px;
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
    width: 100%;
    position: absolute;
    left: 0px;
    height: 100%;
  }
}
