.main {
  height: 500px;
  background: #131313;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 4rem;
}

.subtitle {
  margin: 0;
  line-height: 0.5;
  color: white;
  font-size: 3.5rem;
}

.imageHeader {
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.autoconsume {
  color: white;
}

.solar {
  color: #fbae00;
}

.intro_img {
  width: 100%;
}

.description {
  color: white;
  margin: 1rem 0;
  line-height: 1.15;
  font-size: 1.7rem;
  padding-right: 4rem;
  font-weight: 200;
}

.section_1_img {
  max-width: 500px;
}

.section_1_title {
  font-size: 50px;
  color: #5a5a5a;
  padding-bottom: 1rem;
  margin: 0;
}

.section_1_p {
  color: #5a5a5a;
  font-weight: 200;
  line-height: 1.75rem;
}

@media only screen and (max-width: 920px) {
  .title {
    font-size: 3rem;
  }

  .description {
    color: white;
    margin: 1rem 0;
    line-height: 1.25;
    font-size: 1.2rem;
    padding-right: 0rem;
    font-weight: 200;
  }
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 3rem;
  }

  .description {
    color: white;
    line-height: 1.25;
    font-size: 1.4rem;
    font-weight: 200;
  }

  .main {
    height: 100vh;
    background-image: url('./../public/img/intro_mobile.jpg');
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imageHeader {
    display: none;
  }

  .section_1_title {
    font-size: 2rem;
    text-align: center;
    color: #5a5a5a;
    padding-bottom: 1rem;
    margin: 0;
  }

  .section_1_p {
    color: #5a5a5a;
    font-weight: 200;
    line-height: 1.35rem;
    font-size: 1.05rem;
    text-align: center;
  }
}